################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/JDM_Casus_Blok4/v17/.wsuo
/.vs/JDM_Casus_Blok4/v17/DocumentLayout.json
